<%= form_with(model: @twit, local: true) do |form| %>
  <% if @twit.errors.any? %>
    <div id="error_explanation">
      <h2>Il y a <%= @twit.errors.count %> erreur </h2>
      <ul>
      <% @twit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="twit_content">
    <%= form.text_area :content, class: 'input', id: 'input-text' %>
  </div>
  <br>
  <%= form.submit "Tweetté" %>
<% end %>

<%= link_to "Retour", twits_path %>
