<div class="home_0">
  <div class="twit_btn_mini"><br>
  <%= image_tag "benlogo.png", size: '48x48' %>
  </div>
</div>
<div class="box_0">
  <%= image_tag "logo2.png", size: '90x50', class: "acc_pic" %>
  <h3 style="padding-left: 200px;">TWITTER_CLONE</h3>
</div>

<h1>Écran de confirmation</h1>
<h3>Voulez-vous vraiment poster un tweet !</h3>

<%= form_with(model: @twit, url: twits_path, local: true) do |form| %>
  <%= form.hidden_field :content %>

    <p><%= @twit_content %></p>
  <%= form.submit "Tweetté" %>

  <%= form.submit "Retourner", name: 'back' %>
<% end %>
